// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

// Variables
@import "variables";

// Bootstrap
$primary: #00ccbc;
$secondary: #d0eb99;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Lato", sans-serif;
}

.purple {
    color: #450063;
}

.bg_purple {
    background-color: #450063;
}

.rose {
    color: #ffeae4;
}

.bg_rose {
    background-color: #ffeae4;
}

.rider {
    max-height: 400px;
}

.hashtag {
    color: white;
    background-color: #007e8a;
}
