// Fonts
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); */

// Variables
@import "variables";

// Bootstrap
$primary: #00ccbc;
$secondary: #d0eb99;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Stratos", sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}

.purple {
    color: #450063;
}

.white {
    color: white;
}

.bg_purple {
    background-color: #450063;
}
.bg_rose {
    background-color: #ffeae4;
}

.bg_grey {
    background-color: #2e3333;
}

.bg_lightgrey {
    background-color: #434848;
}

.cart_button {
    position: relative;
    .cart_badge {
        color: white;
        padding: 1px 6px;
        position: absolute;
        top: -8px;
        right: -10px;
        background-color: red;
        border-radius: 100%;
    }
}

.rider {
    max-width: 245px;
}

.hashtag {
    color: white;
    background-color: #007e8a;
    position: absolute;
    top: 82%;
    width: 92%;
}

.jumbotron {
    position: relative;
}

.overlay:before {
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 20vh solid $primary;
    border-right: 100vw solid transparent;
}

.shadowed {
    text-shadow: 2px 2px 2px #000000;
}

.category-description {
    display: none;
}

.card_container:hover{
    img{
        filter: brightness(50%);
    }
    .category-name {
        display: none;
    }
    .category-description {
        display: block;
        
    }
    h4{
        animation: fontBeat .85s infinite alternate;
        @keyframes fontBeat {
            0%   { transform: scale(1.4); }
        }
    }
}

.appstore {
    width: 55%;
    margin-bottom: 5%;
}

footer {
    a {
    font-family: "stratos-lights";
    color: white;
    }
    .facebook:hover {
        color: #3b5998;
    }
    .twitter:hover {
        color: #00acee;
    }
    .instagram:hover {
        color: #C13584;
    }
    .copyright {
        text-align: right;
    }
}

.image {
    height: 300px;
}

.results {
    min-height: 90vh;
}

.image_wrapper {
    max-height: 170px;
    overflow: hidden;
    img {
        transform: translateY(-15%);
    }
}

textarea:focus {
    outline: 1px solid $primary;
}
.display_out {
    display: none !important;
}
.small_img {
    width: 300px;
    float: right;
}

@media screen and (max-width: 990px) {
    .navbar_nav li {
        margin: 5px;
    }
    .categories_checkboxes {
        display: flex;
        flex-flow: row wrap;
    }
    .checkbox {
        margin-left: 10px;
    }
    .copyright {
        text-align: left !important;
    }
    .small_img {
        width: 300px;
        float: left !important;
    }
    .display_in {
        display: none !important;
    }
    .display_out {
        display: inline-block !important
    }
}
