// Fonts
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); */

// Variables
@import "variables";

// Bootstrap
$primary: #00ccbc;
$secondary: #d0eb99;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Stratos", sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}

.purple {
    color: #450063;
}

.bg_rose {
    background-color: #ffeae4;
}

.bg_grey {
    background-color: #2e3333;
}

.bg_lightgrey {
    background-color: #434848;
}

.rider {
    max-width: 245px;
}

.hashtag {
    color: white;
    background-color: #007e8a;
    position: absolute;
    top: 82%;
    width: 100%;
}

/* .navbar:before {
    content: "";
    position: absolute;
    right: -90%;
    top: 5vh;
    border-top: 230px solid #00ccbc;
    border-right: 3840px solid transparent;
} */
.jumbotron {
    position: relative;
}

.overlay:before {
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 20vh solid $primary;
    border-right: 100vw solid transparent;
}

.shadowed {
    text-shadow: 2px 2px 2px #000000;
}

.category-description {
    display: none;
}

.card_container:hover .category-name {
    display: none;
}

.card_container:hover .category-description {
    display: block;
}

.appstore {
    width: 55%;
    margin-bottom: 5%;
}

footer a {
    font-family: "stratos-lights";
    color: white;
}

.image {
    height: 300px;
}

.image img {
    max-height: 100%;
}

.results {
    min-height: 90vh;
}
